In [2]:
import pandas as pd

### df 1 - datos embalses de 2021

In [158]:
embalses_df = pd.read_excel('../data/Embalses.xlsx')
embalses_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"TERRITORIO, CLIMATOLOGÍA Y MEDIO AMBIENTE. MED...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1. Infraestructura extramunicipal: Embalses,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Denominación,Río,Fecha de entrada en servicio,Presa,NaN,NaN,Capacidad de embalse (Hm3),Superficie máxima de embalse (Ha)
4,NaN,NaN,NaN,Tipo,Altura (m),Longitud (m),NaN,NaN

In [159]:
#dropping rows with null values
embalses_df = embalses_df.dropna()

In [160]:
# Reset the index
embalses_df = embalses_df.reset_index(drop=True)
embalses_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,El Villar,Lozoya,1879,Gravedad (1),50,107,22.4,144
1,Puentes Viejas,Lozoya,1939 (3),Gravedad (1),66,324.28,53,280
2,Riosequillo,Lozoya,1958,Gravedad (2),56,1060.26,50,326
3,El Vado,Jarama,1960,Gravedad (2),69,178.2,55.7,260
4,Pinilla,Lozoya,1967,Gravedad (2),33,294.5,38.1,480

In [161]:
# renaming the columns
embalses_df.rename(columns={'Unnamed: 0': 'Denominación', 'Unnamed: 1': 'Río', 
                            'Unnamed: 2': 'Entrada en servicio', 'Unnamed: 3': 'Tipo',
                           'Unnamed: 4': 'Altura(m)', 'Unnamed: 5': 'Longitud(m)',
                           'Unnamed: 6': 'Capacidad(Hm3)', 'Unnamed: 7': 'Superficie(Ha)'}, inplace=True)
embalses_df

,Denominación,Río,Entrada en servicio,Tipo,Altura(m),Longitud(m),Capacidad(Hm3),Superficie(Ha)
0,El Villar,Lozoya,1879,Gravedad (1),50,107,22.4,144
1,Puentes Viejas,Lozoya,1939 (3),Gravedad (1),66,324.28,53,280
2,Riosequillo,Lozoya,1958,Gravedad (2),56,1060.26,50,326
3,El Vado,Jarama,1960,Gravedad (2),69,178.2,55.7,260
4,Pinilla,Lozoya,1967,Gravedad (2),33,294.5,38.1,480
5,Pedrezuela (antes Vellón),Guadalix,1968,Bóveda gruesa,52,218,40.9,393
6,Navalmedio,Navalmedio,1969,Gravedad (2),47,170,0.7,7.5
7,La Jarosa,La Jarosa,1969,Gravedad (2),54,213,7.2,61
8,Navacerrada,Samburiel,1969,Gravedad (1),47,516.7,11,93
9,Manzanares el Real,Manzanares,1912-1971 (4),Escollera (2),40,1355.2,91.2,1043
10,El Atazar,Lozoya,1972,Bóveda gruesa,134,484,425.3,1070
11,Valmayor,Aulencia,1976,Escollera (2),60,1215.1,124.4,755
12,La Aceña,Aceña,1991,Gravedad (1),66,340,23.7,115

In [162]:
embalses_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Denominación         13 non-null     object
 1   Río                  13 non-null     object
 2   Entrada en servicio  13 non-null     object
 3   Tipo                 13 non-null     object
 4   Altura(m)            13 non-null     object
 5   Longitud(m)          13 non-null     object
 6   Capacidad(Hm3)       13 non-null     object
 7   Superficie(Ha)       13 non-null     object
dtypes: object(8)
memory usage: 960.0+ bytes

In [163]:
# saving the dataframe in csv
embalses_df.to_csv('../cleaned-data/embalses.csv')

### df 2 - volumen de agua por embalses en Hm3(hectometros cubicos)

In [164]:
volumen_embalses_df = pd.read_excel('../data/Volumen_agua_por_embalses.xls')
volumen_embalses_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Volumen de agua embalsada por embalses del Can...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Hectómetros cúbicos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
volumen_embalses_df = volumen_embalses_df.dropna()

In [166]:
# to see all the columns
pd.options.display.max_columns = None

In [167]:
# Reset the index
volumen_embalses_df = volumen_embalses_df.reset_index(drop=True)
volumen_embalses_df
# volumen in Hm3

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,Total agua embalsada,643.3,490,373.6,757.9,607.7,529.3,562.3,321.4,364.5,577.5,383.0,725.3,604.6,682.0,470.8,523.7,585.3,351.8,623.9,655.2,346.8,397.0,665.9,657.7,585.4,661.4,719.5,510.8,724.6,664.6,624.2,684.4,576.1,732.4,497.6,641.1,608.9
1,El Atazar,387.4,280,160.3,396.1,329.5,289.7,332.2,117.5,214.1,320.6,173.8,357.6,336.0,366.0,196.0,258.4,349.9,171.1,326.4,352.4,179.8,166.8,323.1,296.4,332.5,345.6,368.7,233.9,364.5,349.8,343.9,355.8,282.4,361.4,246.3,341.1,304.4
2,Valmayor,65.6,36,32.6,90.3,69.2,76.9,51.9,37,37.5,61.2,67.5,98.6,63.0,82.0,76.2,56.2,50.1,51.7,86.6,74.7,62.1,100.7,108.0,118.3,74.4,87.6,86.0,74.3,87.3,80.3,63.0,61.4,89.2,103.3,64.0,69.9,87.1
3,Santillana,68.7,40.4,47,70.1,66.1,62.2,66.6,44.2,30.8,54.2,24.6,62.8,77.3,76.2,47.8,26.4,53.2,21.7,62.1,60.2,25.1,36.8,68.9,64.6,49.3,52.8,66.5,44.7,70.3,62.7,49.9,63.7,50.0,66.0,34.3,61.7,54.2
4,El Vado (3),8.7,8.2,18.5,41.3,26.4,1.3,10.6,12.5,9.1,9.2,7.6,23.3,9.4,9.0,7.9,37.0,8.3,9.7,11.0,6.6,6.6,7.7,12.6,11.3,7.5,12.5,9.1,10.8,14.1,9.5,8.4,13.7,9.5,17.8,12.0,15.2,8.6
5,Puentes Viejas,34.3,46.5,30.2,33.8,29.8,32,5.1,8.7,1.2,25.1,34.3,47.7,32.1,42.3,39.4,36.9,26.7,19.5,37.1,41.5,4.3,22.1,28.6,33.3,2.2,39.9,41.8,40.7,45.3,36.7,42.4,42.3,31.3,43.3,42.9,37.1,34.2
6,Riosequillo,30.4,24.6,22.2,46.6,35,25,35.8,41.2,32.7,34.0,20.4,47.7,23.3,34.8,44.6,39.8,25.1,18.1,34.2,38.1,11.6,2.4,27.9,34.1,36.6,35.7,39.5,38.7,42.9,36.4,34.2,40.2,31.1,37.4,38.9,32.5,21.2
7,Pedrezuela,20.5,20.5,23.9,33.7,0,14,27.6,4.4,2.1,13.0,1.2,23.3,6.5,12.9,5.4,15.4,11.5,10.7,8.4,18.8,7.1,12.4,25.7,27.5,19.3,26.6,35.4,11.8,31.4,21.2,17.9,32.6,23.7,35.7,15.9,29.1,35.0
8,Pinilla,10.9,8,14.3,17.8,21.6,0.7,22.9,34.5,13,26.3,32.7,30.9,17.7,22.1,25.5,22.9,23.8,22.1,22.2,25.6,23.7,20.5,26.9,24.6,23.2,24.6,26.5,23.0,27.0,22.3,24.8,24.6,19.5,21.2,17.5,20.5,18.0
9,La Aceña (4),-,-,-,-,-,-,-,13,13.3,11.3,1.4,18.6,14.4,13.1,3.6,10.9,15.0,6.8,9.1,13.6,7.2,6.0,16.3,17.7,12.3,7.5,15.3,6.4,14.7,12.6,13.1,15.8,10.2,13.6,4.1,12.0,17.3
10,El Villar,7.9,22.3,18.6,14.7,21.1,22,2.9,0.1,0.1,11.9,17.7,4.1,13.6,10.3,15.2,12.4,14.3,13.5,16.8,12.6,12.9,13.9,15.2,17.6,19.5,19.3,20.8,18.5,15.6,21.2,16.2,21.5,20.5,21.6,17.1,15.5,21.0
11,Navacerrada,4.9,2,3,7.8,5.3,3.3,3.4,3.6,6.8,5.1,0.4,4.9,5.5,5.1,3.3,3.2,1.9,4.1,3.3,4.2,3.7,4.7,5.1,5.3,4.1,3.2,5.2,4.9,6.4,5.2,4.2,4.9,3.9,6.1,2.7,3.2,3.5
12,La Jarosa,3.8,1.4,2.7,5.1,3.4,2.1,3.2,4.1,3.2,4.7,0.9,3.5,3.8,5.9,4.5,3.2,3.6,1.3,4.7,4.8,1.9,2.4,5.8,5.6,3.7,4.8,4.5,2.7,4.9,4.3,5.1,5.6,3.5,4.7,1.6,3.1,4.1
13,Los Morales,-,-,-,-,-,-,-,-,-,0.6,0.2,1.8,1.8,2.0,0.9,0.5,1.7,1.1,1.7,1.6,0.5,0.4,1.2,1.0,0.4,1.0,0.0,0.0,0.0,1.7,0.8,1.6,0.9,0.0,0.0,0.0,0.0
14,Navalmedio,0.2,0.1,0.3,0.6,0.3,0.1,0.1,0.6,0.6,0.3,0.3,0.5,0.2,0.3,0.5,0.5,0.2,0.4,0.3,0.4,0.4,0.3,0.4,0.4,0.4,0.3,0.3,0.3,0.3,0.4,0.4,0.3,0.3,0.4,0.2,0.3,0.2

In [168]:
volumen_embalses_df.rename(columns={'Unnamed: 0': 'Embalses'}, inplace=True)

In [169]:
volumen_embalses_df.head()

,Embalses,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,Total agua embalsada,643.3,490,373.6,757.9,607.7,529.3,562.3,321.4,364.5,577.5,383.0,725.3,604.6,682.0,470.8,523.7,585.3,351.8,623.9,655.2,346.8,397.0,665.9,657.7,585.4,661.4,719.5,510.8,724.6,664.6,624.2,684.4,576.1,732.4,497.6,641.1,608.9
1,El Atazar,387.4,280,160.3,396.1,329.5,289.7,332.2,117.5,214.1,320.6,173.8,357.6,336.0,366.0,196.0,258.4,349.9,171.1,326.4,352.4,179.8,166.8,323.1,296.4,332.5,345.6,368.7,233.9,364.5,349.8,343.9,355.8,282.4,361.4,246.3,341.1,304.4
2,Valmayor,65.6,36,32.6,90.3,69.2,76.9,51.9,37,37.5,61.2,67.5,98.6,63.0,82.0,76.2,56.2,50.1,51.7,86.6,74.7,62.1,100.7,108.0,118.3,74.4,87.6,86.0,74.3,87.3,80.3,63.0,61.4,89.2,103.3,64.0,69.9,87.1
3,Santillana,68.7,40.4,47,70.1,66.1,62.2,66.6,44.2,30.8,54.2,24.6,62.8,77.3,76.2,47.8,26.4,53.2,21.7,62.1,60.2,25.1,36.8,68.9,64.6,49.3,52.8,66.5,44.7,70.3,62.7,49.9,63.7,50.0,66.0,34.3,61.7,54.2
4,El Vado (3),8.7,8.2,18.5,41.3,26.4,1.3,10.6,12.5,9.1,9.2,7.6,23.3,9.4,9.0,7.9,37.0,8.3,9.7,11.0,6.6,6.6,7.7,12.6,11.3,7.5,12.5,9.1,10.8,14.1,9.5,8.4,13.7,9.5,17.8,12.0,15.2,8.6

In [170]:
# Create a dictionary to map the new column names
new_column_names = {
    f'Unnamed: {i}': str(1985 + i - 1) for i in range(1, 38)
}

# Rename the columns using the dictionary
volumen_embalses_df = volumen_embalses_df.rename(columns=new_column_names)

In [171]:
volumen_embalses_df

,Embalses,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Total agua embalsada,643.3,490,373.6,757.9,607.7,529.3,562.3,321.4,364.5,577.5,383.0,725.3,604.6,682.0,470.8,523.7,585.3,351.8,623.9,655.2,346.8,397.0,665.9,657.7,585.4,661.4,719.5,510.8,724.6,664.6,624.2,684.4,576.1,732.4,497.6,641.1,608.9
1,El Atazar,387.4,280,160.3,396.1,329.5,289.7,332.2,117.5,214.1,320.6,173.8,357.6,336.0,366.0,196.0,258.4,349.9,171.1,326.4,352.4,179.8,166.8,323.1,296.4,332.5,345.6,368.7,233.9,364.5,349.8,343.9,355.8,282.4,361.4,246.3,341.1,304.4
2,Valmayor,65.6,36,32.6,90.3,69.2,76.9,51.9,37,37.5,61.2,67.5,98.6,63.0,82.0,76.2,56.2,50.1,51.7,86.6,74.7,62.1,100.7,108.0,118.3,74.4,87.6,86.0,74.3,87.3,80.3,63.0,61.4,89.2,103.3,64.0,69.9,87.1
3,Santillana,68.7,40.4,47,70.1,66.1,62.2,66.6,44.2,30.8,54.2,24.6,62.8,77.3,76.2,47.8,26.4,53.2,21.7,62.1,60.2,25.1,36.8,68.9,64.6,49.3,52.8,66.5,44.7,70.3,62.7,49.9,63.7,50.0,66.0,34.3,61.7,54.2
4,El Vado (3),8.7,8.2,18.5,41.3,26.4,1.3,10.6,12.5,9.1,9.2,7.6,23.3,9.4,9.0,7.9,37.0,8.3,9.7,11.0,6.6,6.6,7.7,12.6,11.3,7.5,12.5,9.1,10.8,14.1,9.5,8.4,13.7,9.5,17.8,12.0,15.2,8.6
5,Puentes Viejas,34.3,46.5,30.2,33.8,29.8,32,5.1,8.7,1.2,25.1,34.3,47.7,32.1,42.3,39.4,36.9,26.7,19.5,37.1,41.5,4.3,22.1,28.6,33.3,2.2,39.9,41.8,40.7,45.3,36.7,42.4,42.3,31.3,43.3,42.9,37.1,34.2
6,Riosequillo,30.4,24.6,22.2,46.6,35,25,35.8,41.2,32.7,34.0,20.4,47.7,23.3,34.8,44.6,39.8,25.1,18.1,34.2,38.1,11.6,2.4,27.9,34.1,36.6,35.7,39.5,38.7,42.9,36.4,34.2,40.2,31.1,37.4,38.9,32.5,21.2
7,Pedrezuela,20.5,20.5,23.9,33.7,0,14,27.6,4.4,2.1,13.0,1.2,23.3,6.5,12.9,5.4,15.4,11.5,10.7,8.4,18.8,7.1,12.4,25.7,27.5,19.3,26.6,35.4,11.8,31.4,21.2,17.9,32.6,23.7,35.7,15.9,29.1,35.0
8,Pinilla,10.9,8,14.3,17.8,21.6,0.7,22.9,34.5,13,26.3,32.7,30.9,17.7,22.1,25.5,22.9,23.8,22.1,22.2,25.6,23.7,20.5,26.9,24.6,23.2,24.6,26.5,23.0,27.0,22.3,24.8,24.6,19.5,21.2,17.5,20.5,18.0
9,La Aceña (4),-,-,-,-,-,-,-,13,13.3,11.3,1.4,18.6,14.4,13.1,3.6,10.9,15.0,6.8,9.1,13.6,7.2,6.0,16.3,17.7,12.3,7.5,15.3,6.4,14.7,12.6,13.1,15.8,10.2,13.6,4.1,12.0,17.3
10,El Villar,7.9,22.3,18.6,14.7,21.1,22,2.9,0.1,0.1,11.9,17.7,4.1,13.6,10.3,15.2,12.4,14.3,13.5,16.8,12.6,12.9,13.9,15.2,17.6,19.5,19.3,20.8,18.5,15.6,21.2,16.2,21.5,20.5,21.6,17.1,15.5,21.0
11,Navacerrada,4.9,2,3,7.8,5.3,3.3,3.4,3.6,6.8,5.1,0.4,4.9,5.5,5.1,3.3,3.2,1.9,4.1,3.3,4.2,3.7,4.7,5.1,5.3,4.1,3.2,5.2,4.9,6.4,5.2,4.2,4.9,3.9,6.1,2.7,3.2,3.5
12,La Jarosa,3.8,1.4,2.7,5.1,3.4,2.1,3.2,4.1,3.2,4.7,0.9,3.5,3.8,5.9,4.5,3.2,3.6,1.3,4.7,4.8,1.9,2.4,5.8,5.6,3.7,4.8,4.5,2.7,4.9,4.3,5.1,5.6,3.5,4.7,1.6,3.1,4.1
13,Los Morales,-,-,-,-,-,-,-,-,-,0.6,0.2,1.8,1.8,2.0,0.9,0.5,1.7,1.1,1.7,1.6,0.5,0.4,1.2,1.0,0.4,1.0,0.0,0.0,0.0,1.7,0.8,1.6,0.9,0.0,0.0,0.0,0.0
14,Navalmedio,0.2,0.1,0.3,0.6,0.3,0.1,0.1,0.6,0.6,0.3,0.3,0.5,0.2,0.3,0.5,0.5,0.2,0.4,0.3,0.4,0.4,0.3,0.4,0.4,0.4,0.3,0.3,0.3,0.3,0.4,0.4,0.3,0.3,0.4,0.2,0.3,0.2

In [172]:
# Remove hyphens from the data in the DataFrame
volumen_embalses_df = volumen_embalses_df.replace('-', '0')
volumen_embalses_df

,Embalses,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Total agua embalsada,643.3,490,373.6,757.9,607.7,529.3,562.3,321.4,364.5,577.5,383.0,725.3,604.6,682.0,470.8,523.7,585.3,351.8,623.9,655.2,346.8,397.0,665.9,657.7,585.4,661.4,719.5,510.8,724.6,664.6,624.2,684.4,576.1,732.4,497.6,641.1,608.9
1,El Atazar,387.4,280,160.3,396.1,329.5,289.7,332.2,117.5,214.1,320.6,173.8,357.6,336.0,366.0,196.0,258.4,349.9,171.1,326.4,352.4,179.8,166.8,323.1,296.4,332.5,345.6,368.7,233.9,364.5,349.8,343.9,355.8,282.4,361.4,246.3,341.1,304.4
2,Valmayor,65.6,36,32.6,90.3,69.2,76.9,51.9,37,37.5,61.2,67.5,98.6,63.0,82.0,76.2,56.2,50.1,51.7,86.6,74.7,62.1,100.7,108.0,118.3,74.4,87.6,86.0,74.3,87.3,80.3,63.0,61.4,89.2,103.3,64.0,69.9,87.1
3,Santillana,68.7,40.4,47,70.1,66.1,62.2,66.6,44.2,30.8,54.2,24.6,62.8,77.3,76.2,47.8,26.4,53.2,21.7,62.1,60.2,25.1,36.8,68.9,64.6,49.3,52.8,66.5,44.7,70.3,62.7,49.9,63.7,50.0,66.0,34.3,61.7,54.2
4,El Vado (3),8.7,8.2,18.5,41.3,26.4,1.3,10.6,12.5,9.1,9.2,7.6,23.3,9.4,9.0,7.9,37.0,8.3,9.7,11.0,6.6,6.6,7.7,12.6,11.3,7.5,12.5,9.1,10.8,14.1,9.5,8.4,13.7,9.5,17.8,12.0,15.2,8.6
5,Puentes Viejas,34.3,46.5,30.2,33.8,29.8,32,5.1,8.7,1.2,25.1,34.3,47.7,32.1,42.3,39.4,36.9,26.7,19.5,37.1,41.5,4.3,22.1,28.6,33.3,2.2,39.9,41.8,40.7,45.3,36.7,42.4,42.3,31.3,43.3,42.9,37.1,34.2
6,Riosequillo,30.4,24.6,22.2,46.6,35,25,35.8,41.2,32.7,34.0,20.4,47.7,23.3,34.8,44.6,39.8,25.1,18.1,34.2,38.1,11.6,2.4,27.9,34.1,36.6,35.7,39.5,38.7,42.9,36.4,34.2,40.2,31.1,37.4,38.9,32.5,21.2
7,Pedrezuela,20.5,20.5,23.9,33.7,0,14,27.6,4.4,2.1,13.0,1.2,23.3,6.5,12.9,5.4,15.4,11.5,10.7,8.4,18.8,7.1,12.4,25.7,27.5,19.3,26.6,35.4,11.8,31.4,21.2,17.9,32.6,23.7,35.7,15.9,29.1,35.0
8,Pinilla,10.9,8,14.3,17.8,21.6,0.7,22.9,34.5,13,26.3,32.7,30.9,17.7,22.1,25.5,22.9,23.8,22.1,22.2,25.6,23.7,20.5,26.9,24.6,23.2,24.6,26.5,23.0,27.0,22.3,24.8,24.6,19.5,21.2,17.5,20.5,18.0
9,La Aceña (4),0,0,0,0,0,0,0,13,13.3,11.3,1.4,18.6,14.4,13.1,3.6,10.9,15.0,6.8,9.1,13.6,7.2,6.0,16.3,17.7,12.3,7.5,15.3,6.4,14.7,12.6,13.1,15.8,10.2,13.6,4.1,12.0,17.3
10,El Villar,7.9,22.3,18.6,14.7,21.1,22,2.9,0.1,0.1,11.9,17.7,4.1,13.6,10.3,15.2,12.4,14.3,13.5,16.8,12.6,12.9,13.9,15.2,17.6,19.5,19.3,20.8,18.5,15.6,21.2,16.2,21.5,20.5,21.6,17.1,15.5,21.0
11,Navacerrada,4.9,2,3,7.8,5.3,3.3,3.4,3.6,6.8,5.1,0.4,4.9,5.5,5.1,3.3,3.2,1.9,4.1,3.3,4.2,3.7,4.7,5.1,5.3,4.1,3.2,5.2,4.9,6.4,5.2,4.2,4.9,3.9,6.1,2.7,3.2,3.5
12,La Jarosa,3.8,1.4,2.7,5.1,3.4,2.1,3.2,4.1,3.2,4.7,0.9,3.5,3.8,5.9,4.5,3.2,3.6,1.3,4.7,4.8,1.9,2.4,5.8,5.6,3.7,4.8,4.5,2.7,4.9,4.3,5.1,5.6,3.5,4.7,1.6,3.1,4.1
13,Los Morales,0,0,0,0,0,0,0,0,0,0.6,0.2,1.8,1.8,2.0,0.9,0.5,1.7,1.1,1.7,1.6,0.5,0.4,1.2,1.0,0.4,1.0,0.0,0.0,0.0,1.7,0.8,1.6,0.9,0.0,0.0,0.0,0.0
14,Navalmedio,0.2,0.1,0.3,0.6,0.3,0.1,0.1,0.6,0.6,0.3,0.3,0.5,0.2,0.3,0.5,0.5,0.2,0.4,0.3,0.4,0.4,0.3,0.4,0.4,0.4,0.3,0.3,0.3,0.3,0.4,0.4,0.3,0.3,0.4,0.2,0.3,0.2

In [173]:
# saving the dataframe in csv
volumen_embalses_df.to_csv('../cleaned-data/volumen_agua_por_embalses.csv')

### df 3 - volumen de agua facturado por municipios en m3 (metros cubicos)

In [174]:
volumen_facturado_df = pd.read_excel('../data/Voumen_facturado_por_municipios.xlsx')
volumen_facturado_df

,Municipios,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007 (5),2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Comunidad de Madrid,507311387,49434380,600085884,595742107,630185328,651663253,671507006,629931977,364068659,376386483,374622728,372584913,384031247,387464871,406901095,420507027,433988876,442722583,460127592,449919989,487226087,435710166,434034401,437673630,435211076,414864492,422617582,410236234,392317469,392899318,403992502,405974663,416122486,398433932,417271269,405607980,405120226
1,Municipio de Madrid,415957219,0,450044034,474347134,501043504,507734296,520789060,482891936,226794579,229282880,223937501,220780918,226920570,227939860,236583296,240940938,243679367,246632800,253284264,246643832,261061411,232408297,226948513,231964118,224708534,211036865,215665633,207604289,198931286,197544547,201539383,203672914,205140270,198312357,205244545,195491700,194126030
2,Norte Metropolitano,6162086,337176,13902672,14389951,15775215,16691439,20252511,19291633,17709168,17771787,18422051,19360791,19599508,19797665,20946065,21477522,22151996,22927088,24064223,23588079,25647632,22720089,23127094,23278650,23050169,23840366,23552041,23117463,22641786,22911044,23492219,23364133,24470631,23228403,24463331,23641597,23722020
3,Este Metropolitano,18766279,12434259,21707693,19710149,21273148,23615170,23622827,23192056,21041411,22483575,21804562,22455917,23240637,22783346,24152889,24576499,25936921,27032446,28369381,28785355,31664078,27995769,28762107,28430186,29779962,26851350,29280268,29349570,27643920,27832718,28647666,28333923,29762411,28107575,29509459,29544506,29769719
4,Sur Metropolitano,47854933,31853942,83749363,57966713,58475030,64859319,64733319,66564291,60929088,63199717,63100251,63556563,66318360,68899641,72260520,73768992,77851128,79987790,81735095,81115314,86718726,80257552,81463504,81342721,77830940,78597004,77710154,72762831,71837082,71778820,73245961,74609026,75822643,73499616,76523517,76242429,75680993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,Villar del Olmo,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,160159,232323,233621,256835,248342,287488,227815,222427,214031,248909,160785,217182,201080,169222,181229,178096,164880,185635,179542,156643,183373,189107
178,Villarejo de Salvanés,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,305565,336080,356415,372310,365350,408090,375455,385638,435941,388438,373104,422805,394029,412555,405818,390865,393284,398542,390934,412021,429689,419184
179,Villaviciosa de Odón,0,0,0,0,0,0,424527,770104,753105,787711,816221,826126,892398,904329,1022194,1151462,1268450,1373768,1549477,1481543,1670010,1466940,1439280,1411073,1603018,1317346,1547393,1397794,1384212,1347945,1410545,1401437,1506556,1384819,1505097,1397486,1418294
180,Villavieja del Lozoya,0,0,0,0,0,0,0,0,11349,17877,20888,21084,21005,281,3273,11418,11945,10350,11998,11225,13451,24044,22465,20816,24423,25537,22162,22733,24149,28362,25049,24912,27502,23804,27612,30391,30164
181,Zarzalejo,0,0,0,0,0,0,0,0,0,0,72906,82872,82841,81830,88728,84773,90038,92830,101925,112247,132385,174321,169446,193309,259125,275980,301421,316929,232044,192662,269945,272016,314493,302404,314893,267475,267867

In [175]:
volumen_facturado_df = volumen_facturado_df.dropna()

In [176]:
volumen_facturado_df

,Municipios,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007 (5),2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Comunidad de Madrid,507311387,49434380,600085884,595742107,630185328,651663253,671507006,629931977,364068659,376386483,374622728,372584913,384031247,387464871,406901095,420507027,433988876,442722583,460127592,449919989,487226087,435710166,434034401,437673630,435211076,414864492,422617582,410236234,392317469,392899318,403992502,405974663,416122486,398433932,417271269,405607980,405120226
1,Municipio de Madrid,415957219,0,450044034,474347134,501043504,507734296,520789060,482891936,226794579,229282880,223937501,220780918,226920570,227939860,236583296,240940938,243679367,246632800,253284264,246643832,261061411,232408297,226948513,231964118,224708534,211036865,215665633,207604289,198931286,197544547,201539383,203672914,205140270,198312357,205244545,195491700,194126030
2,Norte Metropolitano,6162086,337176,13902672,14389951,15775215,16691439,20252511,19291633,17709168,17771787,18422051,19360791,19599508,19797665,20946065,21477522,22151996,22927088,24064223,23588079,25647632,22720089,23127094,23278650,23050169,23840366,23552041,23117463,22641786,22911044,23492219,23364133,24470631,23228403,24463331,23641597,23722020
3,Este Metropolitano,18766279,12434259,21707693,19710149,21273148,23615170,23622827,23192056,21041411,22483575,21804562,22455917,23240637,22783346,24152889,24576499,25936921,27032446,28369381,28785355,31664078,27995769,28762107,28430186,29779962,26851350,29280268,29349570,27643920,27832718,28647666,28333923,29762411,28107575,29509459,29544506,29769719
4,Sur Metropolitano,47854933,31853942,83749363,57966713,58475030,64859319,64733319,66564291,60929088,63199717,63100251,63556563,66318360,68899641,72260520,73768992,77851128,79987790,81735095,81115314,86718726,80257552,81463504,81342721,77830940,78597004,77710154,72762831,71837082,71778820,73245961,74609026,75822643,73499616,76523517,76242429,75680993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,Villar del Olmo,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,160159,232323,233621,256835,248342,287488,227815,222427,214031,248909,160785,217182,201080,169222,181229,178096,164880,185635,179542,156643,183373,189107
178,Villarejo de Salvanés,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,305565,336080,356415,372310,365350,408090,375455,385638,435941,388438,373104,422805,394029,412555,405818,390865,393284,398542,390934,412021,429689,419184
179,Villaviciosa de Odón,0,0,0,0,0,0,424527,770104,753105,787711,816221,826126,892398,904329,1022194,1151462,1268450,1373768,1549477,1481543,1670010,1466940,1439280,1411073,1603018,1317346,1547393,1397794,1384212,1347945,1410545,1401437,1506556,1384819,1505097,1397486,1418294
180,Villavieja del Lozoya,0,0,0,0,0,0,0,0,11349,17877,20888,21084,21005,281,3273,11418,11945,10350,11998,11225,13451,24044,22465,20816,24423,25537,22162,22733,24149,28362,25049,24912,27502,23804,27612,30391,30164
181,Zarzalejo,0,0,0,0,0,0,0,0,0,0,72906,82872,82841,81830,88728,84773,90038,92830,101925,112247,132385,174321,169446,193309,259125,275980,301421,316929,232044,192662,269945,272016,314493,302404,314893,267475,267867

In [177]:
# saving the dataframe in csv
volumen_facturado_df.to_csv('../cleaned-data/volumen_facturado_por_municipios.csv')

### df 4 - consumo domestico por distritos de madrid en 2021

In [178]:
consumo_distrito_df = pd.read_excel('../data/Consumo_doméstico_por_distrito.xlsx')
consumo_distrito_df.head()
# este data es de 2021

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Acceso a \nBanco Datos,"TERRITORIO, CLIMATOLOGÍA Y MEDIO AMBIENTE. MED...",NaN,NaN,NaN,NaN
1,Índice,NaN,NaN,NaN,NaN,NaN
2,Datos,10. Facturación de consumo doméstico de agua e...,NaN,NaN,NaN,NaN
3,NaN,Distrito,Consumo de agua (m3),Habitantes 01.07.21,Litros/habitante/día,Índice Madrid Ciudad = 100
4,NaN,NaN,NaN,NaN,NaN,NaN

In [179]:
consumo_distrito_df = consumo_distrito_df.drop(["Unnamed: 0", "Unnamed: 5"], axis=1)

In [180]:
consumo_distrito_df = consumo_distrito_df.dropna()
consumo_distrito_df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
3,Distrito,Consumo de agua (m3),Habitantes 01.07.21,Litros/habitante/día
5,2021,145712510,3304343,120.814442
7,01. Centro,7345462,141323,142.40112
8,02. Arganzuela,6378381,153851,113.584029
9,03. Retiro,5221974,118283,120.953798
10,04. Salamanca,7336031,145711,137.935469
11,05. Chamartín,7380397,145251,139.209133
12,06. Tetuán,6932770,158574,119.779349
13,07. Chamberí,7168447,137721,142.604111
14,08. Fuencarral-El Pardo,10993520,247455,121.716
15,09. Moncloa-Aravaca,6926745,121032,156.796414
16,10. Latina,9654643,238949,110.697583
17,11. Carabanchel,10200067,257350,108.589038
18,12. Usera,5489255,141689,106.141301
19,13. Puente de Vallecas,9299320,237440,107.301167
20,14. Moratalaz,3888815,93232,114.277155
21,15. Ciudad Lineal,9507634,215790,120.711397
22,16. Hortaleza,9397690,193695,132.925971
23,17. Villaverde,5903404,154515,104.674042
24,18. Villa de Vallecas,4729079,114839,112.822132
25,19. Vicálvaro,3090676,77426,109.36385
26,20. San Blas-Canillejas,6436469,160032,110.191472
27,21. Barajas,2383882,50185,130.142145

In [181]:
# Drop the first two rows
consumo_distrito_df = consumo_distrito_df.drop([3, 5], axis=0)
consumo_distrito_df

                   Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4
7                  01. Centro    7345462     141323   142.40112
8              02. Arganzuela    6378381     153851  113.584029
9                  03. Retiro    5221974     118283  120.953798
10              04. Salamanca    7336031     145711  137.935469
11              05. Chamartín    7380397     145251  139.209133
12                 06. Tetuán    6932770     158574  119.779349
13               07. Chamberí    7168447     137721  142.604111
14    08. Fuencarral-El Pardo   10993520     247455     121.716
15        09. Moncloa-Aravaca    6926745     121032  156.796414
16                 10. Latina    9654643     238949  110.697583
17            11. Carabanchel   10200067     257350  108.589038
18                  12. Usera    5489255     141689  106.141301
19     13. Puente de Vallecas    9299320     237440  107.301167
20              14. Moratalaz    3888815      93232  114.277155
21          15. Ciudad Lineal    9507634     215790  120.711397
22              16. Hortaleza    9397690     193695  132.925971
23             17. Villaverde    5903404     154515  104.674042
24      18. Villa de Vallecas    4729079     114839  112.822132
25              19. Vicálvaro    3090676      77426   109.36385
26    20. San Blas-Canillejas    6436469     160032  110.191472
27                21. Barajas    2383882      50185  130.142145

In [182]:
# Reset the index
consumo_distrito_df = consumo_distrito_df.reset_index(drop=True)
consumo_distrito_df.head()

         Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4
0        01. Centro    7345462     141323   142.40112
1    02. Arganzuela    6378381     153851  113.584029
2        03. Retiro    5221974     118283  120.953798
3     04. Salamanca    7336031     145711  137.935469
4     05. Chamartín    7380397     145251  139.209133

In [183]:
# renaming the columns
consumo_distrito_df.rename(columns={'Unnamed: 1': 'Distrito', 'Unnamed: 2': 'Consumo(m3)', 
                            'Unnamed: 3': 'Habitantes', 'Unnamed: 4': 'Litros/habitante/día'}, inplace=True)
consumo_distrito_df.head()

           Distrito Consumo(m3) Habitantes Litros/habitante/día
0        01. Centro     7345462     141323            142.40112
1    02. Arganzuela     6378381     153851           113.584029
2        03. Retiro     5221974     118283           120.953798
3     04. Salamanca     7336031     145711           137.935469
4     05. Chamartín     7380397     145251           139.209133

In [184]:
# Remove '01.' from the 'District' column
consumo_distrito_df['Distrito'] = consumo_distrito_df['Distrito'].str.replace(r'\d+\.', '')

C:\Users\mujib\AppData\Local\Temp\ipykernel_29356\1447895976.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  consumo_distrito_df['Distrito'] = consumo_distrito_df['Distrito'].str.replace(r'\d+\.', '')

In [185]:
consumo_distrito_df

                  Distrito Consumo(m3) Habitantes Litros/habitante/día
0                   Centro     7345462     141323            142.40112
1               Arganzuela     6378381     153851           113.584029
2                   Retiro     5221974     118283           120.953798
3                Salamanca     7336031     145711           137.935469
4                Chamartín     7380397     145251           139.209133
5                   Tetuán     6932770     158574           119.779349
6                 Chamberí     7168447     137721           142.604111
7      Fuencarral-El Pardo    10993520     247455              121.716
8          Moncloa-Aravaca     6926745     121032           156.796414
9                   Latina     9654643     238949           110.697583
10             Carabanchel    10200067     257350           108.589038
11                   Usera     5489255     141689           106.141301
12      Puente de Vallecas     9299320     237440           107.301167
13               Moratalaz     3888815      93232           114.277155
14           Ciudad Lineal     9507634     215790           120.711397
15               Hortaleza     9397690     193695           132.925971
16              Villaverde     5903404     154515           104.674042
17       Villa de Vallecas     4729079     114839           112.822132
18               Vicálvaro     3090676      77426            109.36385
19     San Blas-Canillejas     6436469     160032           110.191472
20                 Barajas     2383882      50185           130.142145

In [186]:
# saving the dataframe in csv format
consumo_distrito_df.to_csv('../cleaned-data/consumo_doméstico_por_distrito.csv')

### df 5 - distribución del consumo de agua por procedencias en porcentaje

In [187]:
consumo_procedencia_df = pd.read_excel('../data/Distribu_consumo_por_procedencia.xls')
consumo_procedencia_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Distribución del consumo de agua por procedenc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Porcentaje,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
consumo_procedencia_df = consumo_procedencia_df.dropna()

In [189]:
consumo_procedencia_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
8,Lozoya,40.5,54.7,57.2,33.9,48.2,48.7,40.2,49.2,21,33.8,51.2,50.7,53.9,49,42.2,32.2,36.7,44,35.2,40.2,52.6,28.5,28.9,32.3,40.3,36.2,51.1,39.4,42.4,50.7,41,46.3,46.3,43.2,41.6,47.1,47.1
9,Jarama,22.9,21.4,17.9,27.8,15.6,13.9,18,10.2,15.6,15.1,12,19.2,16.7,19.4,13,17.1,15.5,10.9,18.7,16,5.3,20.7,20.5,15.6,11.5,26.6,17.8,7.5,24.3,14.5,18.6,17.1,10.7,19.8,18.4,23.3,23.3
10,Manzanares,15.7,12.2,10.8,16.6,15.1,14.5,13.9,7.6,11.5,16.6,9.2,11.9,2.3,2.3,13.3,17.7,18.2,11,11.2,13.4,9.7,11.8,10.8,13.1,15.6,13.8,14.3,12.6,11.2,11,6.6,10.6,12.4,13.1,11.8,10.0,10.0
11,Guadalix,6.3,1.3,2.4,6.4,5.5,7.7,9.7,1.3,8.7,13.5,5.1,4.5,6.2,7.9,2.4,4.5,7.6,2.9,9.1,6.6,2.5,6.7,6.9,5.6,6.8,8.5,4.5,5.8,4.4,5.9,14.3,5.2,6.0,4.2,4.7,2.3,2.3
12,Guadarrama,12.9,7.7,6.4,12.4,13.7,15,14.6,2.7,4.3,17,12,9.4,16.7,15.4,14.5,27.6,21.3,30.3,25.1,23.2,29.2,31.7,32,32.6,25.1,14.2,11.6,33.8,17,17.2,18.8,20.2,23.8,19.3,22.9,16.8,16.8

In [190]:
# Reset the index
consumo_procedencia_df = consumo_procedencia_df.reset_index(drop=True)
consumo_procedencia_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,Lozoya,40.5,54.7,57.2,33.9,48.2,48.7,40.2,49.2,21,33.8,51.2,50.7,53.9,49,42.2,32.2,36.7,44,35.2,40.2,52.6,28.5,28.9,32.3,40.3,36.2,51.1,39.4,42.4,50.7,41,46.3,46.3,43.2,41.6,47.1,47.1
1,Jarama,22.9,21.4,17.9,27.8,15.6,13.9,18,10.2,15.6,15.1,12,19.2,16.7,19.4,13,17.1,15.5,10.9,18.7,16,5.3,20.7,20.5,15.6,11.5,26.6,17.8,7.5,24.3,14.5,18.6,17.1,10.7,19.8,18.4,23.3,23.3
2,Manzanares,15.7,12.2,10.8,16.6,15.1,14.5,13.9,7.6,11.5,16.6,9.2,11.9,2.3,2.3,13.3,17.7,18.2,11,11.2,13.4,9.7,11.8,10.8,13.1,15.6,13.8,14.3,12.6,11.2,11,6.6,10.6,12.4,13.1,11.8,10.0,10.0
3,Guadalix,6.3,1.3,2.4,6.4,5.5,7.7,9.7,1.3,8.7,13.5,5.1,4.5,6.2,7.9,2.4,4.5,7.6,2.9,9.1,6.6,2.5,6.7,6.9,5.6,6.8,8.5,4.5,5.8,4.4,5.9,14.3,5.2,6.0,4.2,4.7,2.3,2.3
4,Guadarrama,12.9,7.7,6.4,12.4,13.7,15,14.6,2.7,4.3,17,12,9.4,16.7,15.4,14.5,27.6,21.3,30.3,25.1,23.2,29.2,31.7,32,32.6,25.1,14.2,11.6,33.8,17,17.2,18.8,20.2,23.8,19.3,22.9,16.8,16.8
5,Cofio,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,0.6,0.5,0.6,0.5,0.3,0.5,0.5,0.8,0.6,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
6,Morales,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,0.3,0.2,0.3,0.2,0.3,0.2,0.1,0.1,0.1,0,0,0,0,0,0,0,0.0,0.0,1.8,1.2,0.8,0.8
7,Pozo de los Ramos (Sorbe),-,2.3,2.5,2.7,1.7,0.1,3.4,3.2,8.9,2.5,0.6,3,3.5,5.1,0.6,42.3,74.3,10.5,74,61.3,0,29.2,33.4,20,31.4,27.8,23.5,0,17.7,19,7.1,16.2,5.7,3.6,24.4,10.1,10.1
8,La Parra,-,-,-,-,-,-,-,-,0.2,0,0,0.1,0,0,0.1,1.7,0,3.9,6,0,0,1,0,0,0,0,1.4,0.1,0,0,0,0.0,2.1,7.7,1.2,1.7,1.7
9,Picadas,-,-,2.8,-,-,-,0.1,19.3,19.5,1,-,-,-,-,-,-,-,-,-,-,-,15.8,61.6,78.2,60.9,55.3,51.1,66.8,46.6,52.1,75.8,70.9,87.4,77.1,65.4,84.7,84.7
10,San Juan-Majadahonda,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,0.9,0,0,0,0,0,0.1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
11,Aguas subterráneas,1.7,0.4,-,0.2,0.2,0.1,0.1,6.4,10.1,0.4,9.5,0.8,0.2,0.3,10.4,56,25.7,85.6,20,38.7,100,53.2,5,1.8,7.6,16.9,19.1,20.7,24.9,19.4,17.1,12.2,2.1,3.6,5.0,0.2,0.2
12,ETAP Tajo,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,4.9,12.3,10.8,9.5,0,0.0,0.0,0.0,0.0,0.0,0.0

In [191]:
# Remove hyphens from the data in the DataFrame
consumo_procedencia_df = consumo_procedencia_df.replace('-', '0')
consumo_procedencia_df

# en porcentaje

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,Lozoya,40.5,54.7,57.2,33.9,48.2,48.7,40.2,49.2,21,33.8,51.2,50.7,53.9,49,42.2,32.2,36.7,44,35.2,40.2,52.6,28.5,28.9,32.3,40.3,36.2,51.1,39.4,42.4,50.7,41.0,46.3,46.3,43.2,41.6,47.1,47.1
1,Jarama,22.9,21.4,17.9,27.8,15.6,13.9,18,10.2,15.6,15.1,12,19.2,16.7,19.4,13,17.1,15.5,10.9,18.7,16,5.3,20.7,20.5,15.6,11.5,26.6,17.8,7.5,24.3,14.5,18.6,17.1,10.7,19.8,18.4,23.3,23.3
2,Manzanares,15.7,12.2,10.8,16.6,15.1,14.5,13.9,7.6,11.5,16.6,9.2,11.9,2.3,2.3,13.3,17.7,18.2,11,11.2,13.4,9.7,11.8,10.8,13.1,15.6,13.8,14.3,12.6,11.2,11.0,6.6,10.6,12.4,13.1,11.8,10.0,10.0
3,Guadalix,6.3,1.3,2.4,6.4,5.5,7.7,9.7,1.3,8.7,13.5,5.1,4.5,6.2,7.9,2.4,4.5,7.6,2.9,9.1,6.6,2.5,6.7,6.9,5.6,6.8,8.5,4.5,5.8,4.4,5.9,14.3,5.2,6.0,4.2,4.7,2.3,2.3
4,Guadarrama,12.9,7.7,6.4,12.4,13.7,15,14.6,2.7,4.3,17,12,9.4,16.7,15.4,14.5,27.6,21.3,30.3,25.1,23.2,29.2,31.7,32,32.6,25.1,14.2,11.6,33.8,17.0,17.2,18.8,20.2,23.8,19.3,22.9,16.8,16.8
5,Cofio,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.6,0.5,0.6,0.5,0.3,0.5,0.5,0.8,0.6,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Morales,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.3,0.2,0.3,0.2,0.3,0.2,0.1,0.1,0.1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.8,1.2,0.8,0.8
7,Pozo de los Ramos (Sorbe),0,2.3,2.5,2.7,1.7,0.1,3.4,3.2,8.9,2.5,0.6,3,3.5,5.1,0.6,42.3,74.3,10.5,74,61.3,0,29.2,33.4,20,31.4,27.8,23.5,0.0,17.7,19.0,7.1,16.2,5.7,3.6,24.4,10.1,10.1
8,La Parra,0,0,0,0,0,0,0,0,0.2,0,0,0.1,0,0,0.1,1.7,0,3.9,6,0,0,1,0,0,0,0,1.4,0.1,0.0,0.0,0.0,0.0,2.1,7.7,1.2,1.7,1.7
9,Picadas,0,0,2.8,0,0,0,0.1,19.3,19.5,1,0,0,0,0,0,0,0,0,0,0,0,15.8,61.6,78.2,60.9,55.3,51.1,66.8,46.6,52.1,75.8,70.9,87.4,77.1,65.4,84.7,84.7
10,San Juan-Majadahonda,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.9,0,0,0,0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Aguas subterráneas,1.7,0.4,0,0.2,0.2,0.1,0.1,6.4,10.1,0.4,9.5,0.8,0.2,0.3,10.4,56,25.7,85.6,20,38.7,100,53.2,5,1.8,7.6,16.9,19.1,20.7,24.9,19.4,17.1,12.2,2.1,3.6,5.0,0.2,0.2
12,ETAP Tajo,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4.9,12.3,10.8,9.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [192]:
consumo_procedencia_df.rename(columns={'Unnamed: 0': 'Cuencas'}, inplace=True)
consumo_procedencia_df.head()

,Cuencas,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,Lozoya,40.5,54.7,57.2,33.9,48.2,48.7,40.2,49.2,21,33.8,51.2,50.7,53.9,49,42.2,32.2,36.7,44,35.2,40.2,52.6,28.5,28.9,32.3,40.3,36.2,51.1,39.4,42.4,50.7,41.0,46.3,46.3,43.2,41.6,47.1,47.1
1,Jarama,22.9,21.4,17.9,27.8,15.6,13.9,18,10.2,15.6,15.1,12,19.2,16.7,19.4,13,17.1,15.5,10.9,18.7,16,5.3,20.7,20.5,15.6,11.5,26.6,17.8,7.5,24.3,14.5,18.6,17.1,10.7,19.8,18.4,23.3,23.3
2,Manzanares,15.7,12.2,10.8,16.6,15.1,14.5,13.9,7.6,11.5,16.6,9.2,11.9,2.3,2.3,13.3,17.7,18.2,11,11.2,13.4,9.7,11.8,10.8,13.1,15.6,13.8,14.3,12.6,11.2,11.0,6.6,10.6,12.4,13.1,11.8,10.0,10.0
3,Guadalix,6.3,1.3,2.4,6.4,5.5,7.7,9.7,1.3,8.7,13.5,5.1,4.5,6.2,7.9,2.4,4.5,7.6,2.9,9.1,6.6,2.5,6.7,6.9,5.6,6.8,8.5,4.5,5.8,4.4,5.9,14.3,5.2,6.0,4.2,4.7,2.3,2.3
4,Guadarrama,12.9,7.7,6.4,12.4,13.7,15,14.6,2.7,4.3,17,12,9.4,16.7,15.4,14.5,27.6,21.3,30.3,25.1,23.2,29.2,31.7,32,32.6,25.1,14.2,11.6,33.8,17.0,17.2,18.8,20.2,23.8,19.3,22.9,16.8,16.8

In [193]:
# Create a dictionary to map the new column names
new_column_names = {
    f'Unnamed: {i}': str(1985 + i - 1) for i in range(1, 38)
}

# Rename the columns using the dictionary
consumo_procedencia_df = consumo_procedencia_df.rename(columns=new_column_names)

In [194]:
consumo_procedencia_df.head()

,Cuencas,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Lozoya,40.5,54.7,57.2,33.9,48.2,48.7,40.2,49.2,21,33.8,51.2,50.7,53.9,49,42.2,32.2,36.7,44,35.2,40.2,52.6,28.5,28.9,32.3,40.3,36.2,51.1,39.4,42.4,50.7,41.0,46.3,46.3,43.2,41.6,47.1,47.1
1,Jarama,22.9,21.4,17.9,27.8,15.6,13.9,18,10.2,15.6,15.1,12,19.2,16.7,19.4,13,17.1,15.5,10.9,18.7,16,5.3,20.7,20.5,15.6,11.5,26.6,17.8,7.5,24.3,14.5,18.6,17.1,10.7,19.8,18.4,23.3,23.3
2,Manzanares,15.7,12.2,10.8,16.6,15.1,14.5,13.9,7.6,11.5,16.6,9.2,11.9,2.3,2.3,13.3,17.7,18.2,11,11.2,13.4,9.7,11.8,10.8,13.1,15.6,13.8,14.3,12.6,11.2,11.0,6.6,10.6,12.4,13.1,11.8,10.0,10.0
3,Guadalix,6.3,1.3,2.4,6.4,5.5,7.7,9.7,1.3,8.7,13.5,5.1,4.5,6.2,7.9,2.4,4.5,7.6,2.9,9.1,6.6,2.5,6.7,6.9,5.6,6.8,8.5,4.5,5.8,4.4,5.9,14.3,5.2,6.0,4.2,4.7,2.3,2.3
4,Guadarrama,12.9,7.7,6.4,12.4,13.7,15,14.6,2.7,4.3,17,12,9.4,16.7,15.4,14.5,27.6,21.3,30.3,25.1,23.2,29.2,31.7,32,32.6,25.1,14.2,11.6,33.8,17.0,17.2,18.8,20.2,23.8,19.3,22.9,16.8,16.8

In [195]:
# saving the dataframe in csv
consumo_procedencia_df.to_csv('../cleaned-data/distribu_consumo_por_procedencia.csv')

### df 6 - distribuciones por sectores en  miles de m3

In [3]:
distrib_sectores_df = pd.read_excel('../data/Distribución_de_agua_por_sectores.xls')
distrib_sectores_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Distribución de agua,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Miles de metros cúbicos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,1996.00,1997.00,1998.0,1999.00,2000.0,2001.0,2002.0,2003.0,2004.0,...,2008,2009,2010,2011,2012,2013,2014 (2),2016,2018,2020
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Volumen total de agua registrada y distribuida,425512.00,443767.00,457184.0,462309.00,482722.0,495170.0,487808.0,522697.0,510612.0,...,460768,450493,440375,446421,429556,414258,406951,418022,421750,436216
8,Sectores económicos,84461.00,87116.00,86122.0,85676.00,87196.0,95937.0,94818.0,109541.0,124020.0,...,83971,80484,82585,88826,85034,78846,73898,77304,67964,63615
9,Hogares,276553.00,296526.00,314529.0,323027.00,334798.0,338263.0,334134.0,346018.0,362438.0,...,324291,333616,322800,327883,315483,304968,304840,312768,301111,317737
10,Consumos municipales (1),64498.00,60125.00,56533.0,53524.00,60517.0,60642.0,58676.0,67138.0,23548.0,...,52506,36393,34990,29712,29039,30444,28213,27950,52675,54864
11,Otros consumos,0.00,0.00,0.0,82.00,211.0,328.0,180.0,0.0,606.0,...,-,-,-,-,-,-,-,-,-,-
12,Agua perdida en la red de distribución,62477.00,66600.00,69119.0,78449.00,76165.0,79092.0,74981.0,85692.0,31441.0,...,-,-,-,-,-,-,-,-,-,-
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Importe facturado por el agua suministrada (mi...,224447.97,235428.46,250357.6,264283.05,282680.0,283335.0,298201.0,341540.0,353148.0,...,464376,481402,459560,471687,525474,528363,531721,553132,523861,542393
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Importe total de la inversión en los servicios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,de suministro (miles de euros),53249.67,52444.32,55936.2,54944.53,42840.0,47342.0,65246.0,34840.0,30613.0,...,99579,56597,45245,45130,43288,37741,39448,80711,44759,80532
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,(1) A partir de año 2007 incluye otros consumos.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,(2) A partir del año 2014 la encuesta es bienal.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Fuente: Estadístística sobre el Suministro y S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
distrib_sectores_df = distrib_sectores_df.dropna()
distrib_sectores_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
7,Volumen total de agua registrada y distribuida,425512.00,443767.00,457184.0,462309.00,482722.0,495170.0,487808.0,522697.0,510612.0,...,460768,450493,440375,446421,429556,414258,406951,418022,421750,436216
8,Sectores económicos,84461.00,87116.00,86122.0,85676.00,87196.0,95937.0,94818.0,109541.0,124020.0,...,83971,80484,82585,88826,85034,78846,73898,77304,67964,63615
9,Hogares,276553.00,296526.00,314529.0,323027.00,334798.0,338263.0,334134.0,346018.0,362438.0,...,324291,333616,322800,327883,315483,304968,304840,312768,301111,317737
10,Consumos municipales (1),64498.00,60125.00,56533.0,53524.00,60517.0,60642.0,58676.0,67138.0,23548.0,...,52506,36393,34990,29712,29039,30444,28213,27950,52675,54864
11,Otros consumos,0.00,0.00,0.0,82.00,211.0,328.0,180.0,0.0,606.0,...,-,-,-,-,-,-,-,-,-,-
12,Agua perdida en la red de distribución,62477.00,66600.00,69119.0,78449.00,76165.0,79092.0,74981.0,85692.0,31441.0,...,-,-,-,-,-,-,-,-,-,-
14,Importe facturado por el agua suministrada (mi...,224447.97,235428.46,250357.6,264283.05,282680.0,283335.0,298201.0,341540.0,353148.0,...,464376,481402,459560,471687,525474,528363,531721,553132,523861,542393
17,de suministro (miles de euros),53249.67,52444.32,55936.2,54944.53,42840.0,47342.0,65246.0,34840.0,30613.0,...,99579,56597,45245,45130,43288,37741,39448,80711,44759,80532

In [5]:
# Reset the index
distrib_sectores_df = distrib_sectores_df.reset_index(drop=True)
distrib_sectores_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Volumen total de agua registrada y distribuida,425512.0,443767.0,457184.0,462309.0,482722.0,495170.0,487808.0,522697.0,510612.0,...,460768,450493,440375,446421,429556,414258,406951,418022,421750,436216
1,Sectores económicos,84461.0,87116.0,86122.0,85676.0,87196.0,95937.0,94818.0,109541.0,124020.0,...,83971,80484,82585,88826,85034,78846,73898,77304,67964,63615
2,Hogares,276553.0,296526.0,314529.0,323027.0,334798.0,338263.0,334134.0,346018.0,362438.0,...,324291,333616,322800,327883,315483,304968,304840,312768,301111,317737
3,Consumos municipales (1),64498.0,60125.0,56533.0,53524.0,60517.0,60642.0,58676.0,67138.0,23548.0,...,52506,36393,34990,29712,29039,30444,28213,27950,52675,54864
4,Otros consumos,0.0,0.0,0.0,82.0,211.0,328.0,180.0,0.0,606.0,...,-,-,-,-,-,-,-,-,-,-

In [6]:
# Remove hyphens from the data in the DataFrame
distrib_sectores_df = distrib_sectores_df.replace('-', '0')
distrib_sectores_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Volumen total de agua registrada y distribuida,425512.0,443767.0,457184.0,462309.0,482722.0,495170.0,487808.0,522697.0,510612.0,...,460768,450493,440375,446421,429556,414258,406951,418022,421750,436216
1,Sectores económicos,84461.0,87116.0,86122.0,85676.0,87196.0,95937.0,94818.0,109541.0,124020.0,...,83971,80484,82585,88826,85034,78846,73898,77304,67964,63615
2,Hogares,276553.0,296526.0,314529.0,323027.0,334798.0,338263.0,334134.0,346018.0,362438.0,...,324291,333616,322800,327883,315483,304968,304840,312768,301111,317737
3,Consumos municipales (1),64498.0,60125.0,56533.0,53524.0,60517.0,60642.0,58676.0,67138.0,23548.0,...,52506,36393,34990,29712,29039,30444,28213,27950,52675,54864
4,Otros consumos,0.0,0.0,0.0,82.0,211.0,328.0,180.0,0.0,606.0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# changing the name of the first column
distrib_sectores_df.rename(columns={'Unnamed: 0': 'Distribución'}, inplace=True)
distrib_sectores_df.head()

,Distribución,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Volumen total de agua registrada y distribuida,425512.0,443767.0,457184.0,462309.0,482722.0,495170.0,487808.0,522697.0,510612.0,...,460768,450493,440375,446421,429556,414258,406951,418022,421750,436216
1,Sectores económicos,84461.0,87116.0,86122.0,85676.0,87196.0,95937.0,94818.0,109541.0,124020.0,...,83971,80484,82585,88826,85034,78846,73898,77304,67964,63615
2,Hogares,276553.0,296526.0,314529.0,323027.0,334798.0,338263.0,334134.0,346018.0,362438.0,...,324291,333616,322800,327883,315483,304968,304840,312768,301111,317737
3,Consumos municipales (1),64498.0,60125.0,56533.0,53524.0,60517.0,60642.0,58676.0,67138.0,23548.0,...,52506,36393,34990,29712,29039,30444,28213,27950,52675,54864
4,Otros consumos,0.0,0.0,0.0,82.0,211.0,328.0,180.0,0.0,606.0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# Create a dictionary to map the new column names
new_column_names = {
    f'Unnamed: {i}': str(1996 + i - 1) for i in range(1, 20)
}

# Rename the columns using the dictionary
distrib_sectores_df = distrib_sectores_df.rename(columns=new_column_names)

In [9]:
distrib_sectores_df.head()

,Distribución,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Volumen total de agua registrada y distribuida,425512.0,443767.0,457184.0,462309.0,482722.0,495170.0,487808.0,522697.0,510612.0,...,460768,450493,440375,446421,429556,414258,406951,418022,421750,436216
1,Sectores económicos,84461.0,87116.0,86122.0,85676.0,87196.0,95937.0,94818.0,109541.0,124020.0,...,83971,80484,82585,88826,85034,78846,73898,77304,67964,63615
2,Hogares,276553.0,296526.0,314529.0,323027.0,334798.0,338263.0,334134.0,346018.0,362438.0,...,324291,333616,322800,327883,315483,304968,304840,312768,301111,317737
3,Consumos municipales (1),64498.0,60125.0,56533.0,53524.0,60517.0,60642.0,58676.0,67138.0,23548.0,...,52506,36393,34990,29712,29039,30444,28213,27950,52675,54864
4,Otros consumos,0.0,0.0,0.0,82.0,211.0,328.0,180.0,0.0,606.0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# changing the name of the last three column
distrib_sectores_df.rename(columns={'Unnamed: 20': '2016', 'Unnamed: 21': '2018', 'Unnamed: 22': '2020'}, inplace=True)
distrib_sectores_df.head()

,Distribución,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2016,2018,2020
0,Volumen total de agua registrada y distribuida,425512.0,443767.0,457184.0,462309.0,482722.0,495170.0,487808.0,522697.0,510612.0,...,460768,450493,440375,446421,429556,414258,406951,418022,421750,436216
1,Sectores económicos,84461.0,87116.0,86122.0,85676.0,87196.0,95937.0,94818.0,109541.0,124020.0,...,83971,80484,82585,88826,85034,78846,73898,77304,67964,63615
2,Hogares,276553.0,296526.0,314529.0,323027.0,334798.0,338263.0,334134.0,346018.0,362438.0,...,324291,333616,322800,327883,315483,304968,304840,312768,301111,317737
3,Consumos municipales (1),64498.0,60125.0,56533.0,53524.0,60517.0,60642.0,58676.0,67138.0,23548.0,...,52506,36393,34990,29712,29039,30444,28213,27950,52675,54864
4,Otros consumos,0.0,0.0,0.0,82.0,211.0,328.0,180.0,0.0,606.0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# saving the dataframe in csv
distrib_sectores_df.to_csv('../cleaned-data/distribución_por_sectores.csv')

###  df 7 - Evolución_del_consum_de_agua en Hm3

In [205]:
evolución_consumo_df = pd.read_excel('../data/Evolución_del_consum_de_agua.xlsx')
evolución_consumo_df

       Año  Agua de salida de embalses y captaciones(Hm³)
0      NaN                                            NaN
1   2021.0                                     488.530000
2   2020.0                                     488.270000
3   2019.0                                     501.080000
4   2018.0                                     479.871000
5   2017.0                                     504.000000
6   2016.0                                     491.475000
7   2015.0                                     497.671063
8   2014.0                                     493.434389
9   2013.0                                     496.848000
10  2012.0                                     524.977000
11  2011.0                                     540.895000
12  2010.0                                     535.970152
13  2009.0                                     554.846000
14  2008.0                                     535.597000
15  2007.0                                     544.393000
16  2006.0                                     553.000000
17  2005.0                                     610.000000
18  2004.0                                     603.000000
19  2003.0                                     607.300000
20  2002.0                                     576.000000
21  2001.0                                     562.000000
22  2000.0                                     542.000000
23  1999.0                                     537.000000
24  1998.0                                     509.000000
25  1997.0                                     492.000000
26  1996.0                                     490.000000
27  1995.0                                     496.000000
28  1994.0                                     482.000000
29  1993.0                                     476.000000

In [206]:
# Drop the first row
evolución_consumo_df = evolución_consumo_df.drop([0], axis=0)
evolución_consumo_df.head()

      Año  Agua de salida de embalses y captaciones(Hm³)
1  2021.0                                        488.530
2  2020.0                                        488.270
3  2019.0                                        501.080
4  2018.0                                        479.871
5  2017.0                                        504.000

In [207]:
# Reset the index
evolución_consumo_df = evolución_consumo_df.reset_index(drop=True)
evolución_consumo_df.head()

      Año  Agua de salida de embalses y captaciones(Hm³)
0  2021.0                                        488.530
1  2020.0                                        488.270
2  2019.0                                        501.080
3  2018.0                                        479.871
4  2017.0                                        504.000

In [208]:
evolución_consumo_df['Año'] = evolución_consumo_df['Año'].astype(int)
evolución_consumo_df.head()

    Año  Agua de salida de embalses y captaciones(Hm³)
0  2021                                        488.530
1  2020                                        488.270
2  2019                                        501.080
3  2018                                        479.871
4  2017                                        504.000

In [209]:
# saving the dataframe in csv
evolución_consumo_df.to_csv('../cleaned-data/evolución_del_consumo.csv')